@media screen and (min-width:0px) {

    .titulo {
        padding: 8% 0 5% 4%;
        font-size: 1.4rem;
        color: #555555;
        font-weight: 700;
    }

    .agregar_producto {
        border: none;
        background-color: #2A7AE4;
        width: 45vw;
        height: 6vh;
        margin: 0 0 1% 3%;
    }

    .agregar_producto a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .iconos {
        text-align: right;
        width: 45%;
        position: absolute;
    }

    .iconos img {
        padding-top: 5%;
        padding-right: 10%;
    }

    .productos_cabecera {
        display: flex;
        justify-content: space-between;
        padding: 3% 5%;
    }

    .productos_titulo {
        display: flex;
        color: #555555;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .productos_contenido {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 3%;
    }

    .producto {
        margin: 3% 2%;
        width: 45%;
        color: #555555;
    }

    .producto_imagen {
        height: 50vw;
    }

    .producto_titulo {
        font-weight: 400;
        margin-top: 8%;
        margin-left: 2%;
        font-size: 0.9rem;
    }

    .precio {
        font-weight: 700;
        margin-top: 8%;
        margin-left: 2%;
        margin-bottom: 6%;
        font-size: 0.9rem;
    }

    .id_producto {
        font-size: 0.6rem;
    }

}

@media screen and (min-width: 480px) {

    .titulo {
        padding: 0;
        font-size: 1.3rem;
        color: #555555;
        font-weight: 700;
        width: 50%;
        padding-left: 3%;
    }

    .cabecera {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5%;
    }

    .agregar_producto {
        width: 30vw;
        margin: 0;
        margin-right: 3%;
    }

    .agregar_producto a {
        font-size: 0.8rem;
    }

    .iconos {
        width: 22%;
    }

    .productos_titulo {
        font-size: 1.2rem;
    }

    .productos_cabecera {
        padding: 3% 3% 1% 3%;
    }

    .productos_contenido {
        padding: 0 2%;
    }

    .producto {
        margin: 2% 1%;
        width: 22%;
    }

    .producto_imagen {
        height: 20vh;
    }

}

@media screen and (min-width: 768px) {

    .titulo {
        margin-left: 7%;
        font-size: 1.4rem;
        color: #555555;
        font-weight: 700;
    }

    .agregar_producto {
        width: 20vw;
        margin-right: 10%;
    }

    .iconos {
        width: 12vw;
    }

    .productos_titulo {
        font-size: 1.2rem;
    }

    .productos_cabecera {
        padding: 3% 10.5% 0.5% 10.5%;
    }

    .productos_contenido {
        padding: 0 9.75%;
        justify-content: flex-start;
    }

    .producto {
        margin: 1% 0.75%;
        width: 12vw;
    }

    .producto_imagen {
        height: 22vh;
    }

}