@media screen and (min-width:0px) {

    .titulo {
        padding: 8vw 0 5vw 5vw;
        font-size: 1.4rem;
        color: #555555;
        font-weight: 700;
    }

    .imagen_producto {
        width: 92.75vw;
        height: 20vw;
        margin: 0 3vw 2vw 3vw;
        padding: 5vw 0 6vw 0;
        border: dashed #cfcfcf;
        text-align: center;
    }

    .texto_agregar_imagen {
        width: 100%;
        margin-top: 4vw;
        font-size: 0.8rem;
        color: #555555;
    }

    .texto_arrastrar_imagen {
        display: none;
    }

    .icono_agregar_imagen {
        background: url(../img/mas.png) center no-repeat;
        width: 8vw;
        height: 8vw;
        margin-left: 45%;
    }

    .o, .buscar_imagen_dispositivo {
        display: none;
    }

    .titulo_input {
        font-size: 0.7rem;
    }

    .nombre_producto, .precio_producto, .descripcion_producto {
        width: 91.5vw;
        margin-left: 3vw;
        height: 12vw;
        margin-bottom: 2vw;
        padding-top: 1vw;
        min-height: 45px;
    }

    .input_nombre_producto, .input_precio_producto, .input_descripcion_producto {
        width: 85vw;
        border: none;
        outline: none;
        padding-top: 1vw;
        padding-left: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
        height: 12vw;
        width: 93.5vw;
        margin-left: 3vw;
        min-height: 45px;
    }

    .seleccion_seccion {
        padding-top: 1vw;
        height: 12vw;
    }

    .seccion_producto {
        display: flex;
        width: 33.5vw;
        height: 13vw;
        padding-left: 0;
        font-size: 0.75rem;
        min-height: 45px;
    }

    .seleccion_seccion label {
        padding-left: 2vw;
    }

    .input_seccion_producto {
        width: 31vw;
        padding-left: 2vw;
        height: 7vw;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding-bottom: 0;
        padding-right: 0;
    }

    .secciones {
        position: absolute;
        width: 33.65vw;
        font-size: 0.75rem;
        display: none;
        background-color: #2A7AE4;
        color: #ffffff;
        margin-top: 1.1vw;
    }

    .seccion {
        width: 31.5vw;
        height: 3.5vw;
        padding: 3vw 0 3vw 2vw;
    }

    .seccion:hover {
        background-color: #1c91ff;
        color: #000000;
    }

    .seleccionar_seccion {
        border: 1px solid #2A7AE4;
        background-color: rgba(0, 0, 0, 0);
        height: 13vw;
        min-height: 45px;
        margin-left: 0.5vw;
        color: #2A7AE4;
    }

    .cantidad_producto {
        display: inline;
        width: 40vw;
        padding-left: 0;
        font-size: 0.75rem;
        min-height: 45px;
        height: 12vw;
    }

    .cantidad_producto label {
        position: relative;
        padding-left: 2vw;
        top: 1vw;
    }

    .input_stock_producto {
        width: 31vw;
        padding: 2vw 0 0 2vw;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
    }

    .span_form {
        display: block;
        color: red;
        font-size: 0.75rem;
        font-weight: 400;
        width: 100%;
        text-align: center;
        margin-bottom: 5vw;
    }

    .campos_obligatorios {
        width: 100%;
        color: #555555;
        font-size: 0.75rem;
        text-align: center;
        margin-bottom: 3vw;
    }

    .boton_agregar_producto {
        border: none;
        background-color: #2A7AE4;
        color: #FFFFFF;
        width: 94vw;
        height: 10vw;
        margin-left: 3vw;
    }
}

@media screen and (min-width: 480px) {

    .titulo {
        padding: 5vw 0 2vw 4vw;
    }

    .container_agregar_imagen {
        display: flex;
        align-items: center;
    }

    .imagen_producto {
        width: 35vw;
        height: 12vw;
        margin-left: 4vw;
        margin-bottom: 2vw;
    }

    .icono_agregar_imagen {
        background: url(../img/imagen.png) center no-repeat;
        margin-left: 40%;
    }

    .texto_agregar_imagen {
        display: none;
    }

    .texto_arrastrar_imagen {
        display: block;
        font-size: 0.8rem;
        color: #555555;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    .o, .buscar_imagen_dispositivo {
        display: block;
    }

    .o {
        color: #555555;
    }

    .buscar_imagen_dispositivo {
        margin-left: 2vw;
        width: 35vw;
        max-width: 200px;
        height: 6vw;
    }

    .seccion {
        height: 1.2vw;
        padding-top: 2.1vw;
        font-size: 0.8rem;
    }

    .nombre_producto, .precio_producto, .descripcion_producto {
        width: 88.5vw;
        height: 7vw;
        margin-left: 4vw;
        margin-bottom: 2vw;
    }

    .container {
        width: 90.65vw;
        margin-left: 4vw;
        margin-bottom: 2vw;
        height: 8vw;
    }

    .seleccion_seccion, .seccion_producto {
        height: 8vw;
    }

    .seleccionar_seccion {
        height: 8vw;
    }

    .secciones {
        width: 33.5vw;
        margin-top: 0.75vw;
    }

    .input_seccion_producto {
        height: 4vw;
    }

    .input_stock_producto {
        width: 35vw;
    }

    .cantidad_producto {
        height: 8vw;
    }

    .boton_agregar_producto {
        width: 91vw;
        height: 8vw;
        margin-left: 4vw;
    }

    .span_form {
        font-size: 0.78rem;
        margin-bottom: 3vw;
    }

    .campos_obligatorios {
        font-size: 0.78rem;
    }
}

@media screen and (min-width: 768px) {

    .titulo {
        margin-left: 20vw;
        padding-bottom: 2vw;
        padding-top: 5vw;
    }

    .container_agregar_imagen {
        width: 60vw;
        margin-left: 20vw;
    }

    .imagen_producto {
        width: 50%;
        height: 12vw;
        padding: 3vw 0 1vw 0;
        margin-bottom: 1.25vw;
    }

    .icono_agregar_imagen {
        margin-left: 42.5%;
        width: 5vw;
        height: 5vw;
    }

    .texto_arrastrar_imagen {
        margin-top: 1vw;
    }

    .buscar_imagen_dispositivo {
        height: 5vw;
    }

    .container {
        height: 4vw;
        width: 56vw;
        margin-bottom: 1.25vw;
        margin-left: 24vw;
    }

    .seccion_producto {
        width: 20vw;
    }

    .seleccion_seccion {
        padding-top: 0.5vw;
        width: 20vw;
        height: 4.5vw;
        margin-right: 2vw;
    }

    .seleccionar_seccion {
        margin-left: 1vw;
        height: 4vw;
    }

    .secciones {
        width: 20vw;
        margin-top: -0.25vw;
    }

    .seccion {
        width: 21.25vw;
        padding-top: 1vw;
        padding-bottom: 2vw;
        height: 0.7vw;
    }

    .titulo_input {
        font-size: 0.8rem;
    }

    .nombre_producto, .precio_producto, .descripcion_producto {
        width: 54vw;
        height: 4vw;
        margin-left: 24vw;
        padding-top: 0.5vw;
        margin-bottom: 1.25vw;
    }

    .input_nombre_producto, .input_precio_producto, .input_descripcion_producto {
        width: 52vw;
    }

    .input_seccion_producto {
        width: 15vw;
        height: 3vw;
    }

    .input_stock_producto {
        width: 25vw;
        height: 3vw;
    }

    .cantidad_producto {
        width: 25vw;
    }

    .cantidad_producto label {
        top: 0.5vw;
    }

    .input_stock_producto {
        padding-top: 0.5vw;
    }

    .cantidad_producto, .seccion_producto {
        height: 4vw;
    }

    .boton_agregar_producto {
        width: 56.25vw;
        height: 4.25vw;
        margin-left: 24vw;
    }

    .span_form {
        font-size: 0.8rem;
        margin-bottom: 2.5vw;
    }

    .campos_obligatorios {
        font-size: 0.8rem;
    }
}