@media screen and (min-width:0px) {
    .titulo {
        color: #555555;
        text-align: center;
        padding-top: 12vw;
        padding-bottom: 6vw;
        font-size: 1.2rem;
        font-weight: 700;
        width: 100%;
    }

    .formulario {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .input_form {
        width: 90vw;
        height: 12vw;
        margin: auto;
        margin-bottom: 4vw;
        margin-top: 2vw;
        max-width: 500px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding-top: 2vw;
        text-align: left;
    }

    .input_form p {
        font-size: 0.8rem;
        color: #555555;
        text-align: left;
    }

    .input_login {
        margin-top: 1vw;
        width: 86vw;
        height: 7vw;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        padding-left: 0;
    }

    .mensajes_de_errores {
        width: 100%;
        padding-top: 2%;
        padding-bottom: 3%;
        text-align: center;
    }

    span {
        display: none;
        font-size: 0.7rem;
        color: #ff0000;
    }

    .input-container--invalid {
        margin-bottom: 0.5rem;
        border: 1.5px solid red;
    }

    .div_btn_form {
        padding-bottom: 6vw;
        text-align: center;
    }

    .button_form {
        height: 12vw;
    }
}

@media screen and (min-width: 480px) {
    .titulo {
        font-size: 1.3rem;
        padding-top: 8vw;
        padding-bottom: 2vw;
    }

    .formulario {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        height: auto;
        justify-content: flex-start;
        margin: auto;
        align-items: center;
    }

    .input_form {
        width: 91.5vw;
        height: 9vw;
        max-height: 50px;
        margin-left: auto;
        margin-top: 2.5vw;
        margin-bottom: 0.5vw;
    }

    .input_login {
        width: 80vw;
        height: 5vw;
    }

    .div_btn_form {
        width: 100%;
        text-align: center;
        padding-bottom: 5vw;
    }

    span {
        font-size: 0.8rem;
    }

    .button_form {
        height: 45px;
        font-size: 0.8rem;
        width: 20vw;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .titulo {
        padding-top: 6vw;
        padding-bottom: 2vw;
    }

    .input_form {
        padding-top: 1vw;
        padding-left: 1vw;
        margin-top: 1.25vw;
        margin-bottom: 0.5vw;
    }

    .input_login {
        max-height: 20px;
    }

    .div_btn_form {
        padding-bottom: 2vw;
    }

    .input_login {
        height: 2vw;
        width: 500px;
    }

}